.wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    border-style: solid;
    margin: 3px;
    text-align: center;
    height: 15%;
    width: 15%;
}

header{
    color: gray;
    text-align: center;  
}

footer{
    text-align: end;
}

select[name=select-order]{
    padding: auto;
}


select[name=select-type]{
    padding: auto;
}

/* TODO rename? */
.flexNav{
    display: flex;
    justify-content: space-around;
}

label{
    font-size: larger;
}

img{
    width: 50%;
    height: 50%;
}
