.wrap{
    display: flex;
    flex-wrap: wrap;
}

.pokemonBox{
    border-style: solid;
    margin: 3px;
    text-align: center;
}

header{
    color: gray    
}

footer{
    text-align: end;
}

#select-order{
padding: auto;
}